# Don't track compiled zsh scripts
*.zwc
.zcompdump
.zcompcache/


##
## Below this line is OSX.gitignore
## see https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
##

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


##
## Below this line is Windows.gitignore
## see https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
##

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
